{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h1>{{ auction.title }}</h1>
    <hr>
    {% if winner %}
        <hr>
        <p>You're the winner!</p>
        <hr>
    {% endif %}
    <h5>Category: {{ auction.category }}</h5>
    <hr>
    <div class="row">
    <div class="col-6">
        <img id="auction-image" class="img-fluid" src="{{ auction.imageURL }}"
         onerror="this.onerror=null;this.src='{% static '/assets/default_auction.png'%}'" alt="Item image" width="600" height="800">
    </div>
        <div class="col-6">
            {{ auction.description }}
        </div>
    </div>

    <hr>
    <p>Owner: {{ auction.owner }}</p>
    <hr>
    <p class="start-bid">Start bid is {{ auction.price }}</p>
    {% if not latest_bid %}
        <p class="current-bid">Current bid is {{ auction.price }}</p>
    {% else %}
        <p class="current-bid">Current bid is {{ latest_bid.amount }}</p>
    {% endif %}
    {% if is_auth and not owner %}
        {% if not in_watchlist %}
            <a href="{% url 'watchlist_add' auction_id %}" role="button" class="btn btn-outline-success btn-lg">Add to
                Watchlist</a>
        {% else %}
            <a href="{% url 'watchlist_remove' auction_id %}" role="button" class="btn btn-outline-success btn-lg">Remove
                from Watchlist</a>
        {% endif %}
        <div class="bid-section">
            <h3>Place a Bid</h3>
            <form method="post" action="{% url "bid" %}">
                {{ bid }}
                {% csrf_token %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% if 'is closed successfully' not in message.message %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                <button type="submit" class="btn btn-outline-success btn-lg mt-3">Make Bid</button>
            </form>
        </div>
        <div class="spacer"></div>
    {% endif %}

    {% if owner %}
        <a href="{% url 'close' auction_id %}" role="button" class="btn btn-dark mt-3">Close Auction</a>
    {% endif %}

    <div class="is-winner">
        {% if winner %}
            <p>You're the winner!</p>
        {% endif %}
    </div>

{% endblock %}