{% extends "auctions/layout3.html" %}

{% block body %}
    <div class="container py-6">
    {% if auctions %}
        {% for item in auctions %}
            {% if item.isActive %}

        <div class="row">
            <div class="col-lg-20 mx-auto">

                <!-- List group-->
                <ul class="list-group shadow">

                    <!-- list group item-->
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2"><a href="{{ item.get_absolute_url }}"> {{ item.title }}</a></h5>
                                <p class="font-italic text-muted mb-0 small">{{ item.description }}</p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">$ {{item.price}}</h6>
                                    <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{{ item.imageURL }}"
                                 alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                        <!-- End -->
                    </li>
                    <!-- End -->
                </ul>

            </div>
        </div>
            {% endif %}
    {% endfor %}

    </div>
    {% else %}
        <h1>No active listings found</h1>
    {% endif %}


{% endblock %}
