{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    {% if auctions %}
        {% for item in auctions %}
            {% if item.isActive %}
                <h5 class="mt-0 font-weight-bold mb-2"><a href="{{ item.get_absolute_url }}" style="color: #198754;"> {{ item.title }}</a></h5>
                <div class="multi-line-text-truncate text-muted  mb-0 small" >{{ item.description|safe }}</div>
                <h6 class="font-weight-bold my-2">$ {{ item.price }}</h6>
                <img src="{{ item.imageURL }}" onerror="this.onerror=null;this.src='{% static '/assets/default_auction.png'%}'"
                     alt="Image not found" width="200" class="ml-lg-5 order-1 order-lg-2">
                <hr>
            {% endif %}
        {% endfor %}
    {% else %}
        <h2>No active auctions found. You can return later or add your auction.</h2>
    {% endif %}
{% endblock %}